body {
    background-color: rgb(255, 232, 158);
}


h1 {
    font-size: 6vw;
    color: rgb(243, 57, 119);
    text-align: center;
    text-decoration: underline;
}

h2 {
    font-size: 4vw;
    color: rgb(170, 68, 36);
    text-align: center;
}

p {
    font-size: 2vw;
    color: rgb(46, 46, 45);
    font-size: small;
    font-weight: bold;
    text-align: right;
}

#l1 {
    font-size: 2vw;
    color: brown;
    font-style: italic;
    font-weight: bold;
    text-align: left;

}

#l2 {
    font-size: 2vw;
    color: rgb(124, 25, 25);
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

#l3 {
    font-size: 2vw;
    color: rgb(151, 83, 95);
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

#l4 {
    font-size: 2vw;
    color: palevioletred;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

.l5 {
    font-size: 2vw;
    color: rgb(199, 53, 78);
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

.l6 {
    font-size: 2vw;
    color: rgb(128, 81, 88);
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

.l7 {
    font-size: 2vw;
    color: rgb(110, 25, 25);
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

.l8 {
    font-size: 2vw;
    color: brown;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}