body {
    background-color: rgb(255, 206, 214);
}

h1 {
    font-size: 6vw;
    color: palevioletred;
    text-align: center;
    text-decoration: underline;
}

h2 {
    font-size: 4vw;
    color: rgb(202, 36, 91);
    text-align: center;
}

p {
    font-size: 2vw;
    color: brown;
    font-style: italic;
    font-weight: bold;
}

#l1 {
    font-size: 2vw;
    color: rgb(160, 0, 53);
    font-style: italic;
    font-weight: bold;

}

.l2 {
    font-size: 2vw;
    color: rgb(94, 21, 21);
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}