body {
    background-color: rgb(187, 232, 255);
}

h1 {
    color: cornflowerblue;
    text-decoration: underline;
}

tr {
    color: rgb(17, 48, 138);
}

table {
    color: brown;
}

#time {
    font-weight: bold;
}

#day {
    font-weight: bold;
}

p {
    font-size: 2vw;
    color: rgb(46, 46, 45);
    font-size: small;
    font-weight: bold;
    text-align: right;
}